body{
	background-color:black;
	color:white;
}
canvas{
	position:fixed;
	top:50vh;
	left:50vw;
	transform:translate(-50%,-50%);
	border:1px solid currentColor;
	width:75vmin;
	height:75vmin;
	image-rendering:crisp-edges;
}
